<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Engine</title>
</head>
<body>
    <h1>This is a <%= pageTitle %> </h1>
    <h2>My name is <%= name %>.</h2>
    <h3>I'm Learning <%= learning %></h3>
    <h3>My age is <%= age %></h3>
</body>
</html>